
{{#if class.isPublic}}
    <span class="label label-primary">public</span>
{{/if}}

{{#if class.isPackagePrivate}}
    <span class="label label-primary">package private</span>
{{/if}}

{{#if class.isPrivate}}
    <span class="label label-primary">private</span>
{{/if}}
