{{#if class.isOrdinaryClass}}
    <span class="label label-default">class</span>
{{/if}}

{{#if class.isInterface}}
    <span class="label label-default">interface</span>
{{/if}}

{{#if class.isException}}
    <span class="label label-default">exception</span>
{{/if}}

{{#if class.isError}}
    <span class="label label-default">error</span>
{{/if}}

{{#if class.isEnum}}
    <span class="label label-default">enum</span>
{{/if}}

{{#if class.isAnnotation}}
    <span class="label label-default">annotation</span>
{{/if}}