{{> _partials/base}}
{{!

    Context of class page contains following root values:
        - class: single root class as an ClassInfo object
        - classes: a sorted list of root classes as ClassInfo objects
        - packages: a sorted list of all packages as PackageInfo objects

    Meta data contained in context are:
        - meta.pathToRoot: the path to root of the outputed HTML

}}
{{#*inline "content" }}

    <header>
        <h1>
            <small>
                {{ class.containingPackage.qualifiedName }}
            </small>
            <br/>

            {{ class.leafName }}
        </h1>

        {{> _partials/class/class_visibility class=class }}

        {{> _partials/class/class_type class=class }}

    </header>

{{/inline}}