{{> _partials/base}}
{{!     This is a meta page     }}
{{#*inline "content" }}

    <header>
        <h1>Index</h1>
    </header>

    <p>
        You may want to take a look at:
    </p>
    <ul>
        <li>
            <a href="packages/">packages list</a>
        </li>
        <li>
            <a href="classes/">classes list</a>
        </li>
    </ul>

{{/inline}}