{{!

    Context of this page has two root values:
        - rootClasses: a sorted list of root classes as ClassInfo objects
        - packages: a sorted list of all packages as PackageInfo objects

}}

<ul>
    {{#each packages}}
        <li>
            <h2>
                <a href="{{linkTo this}}">{{qualifiedName}}</a>
            </h2>
            <ul>
                {{#each allClasses}}
                    <li>
                        <a href="{{linkTo this}}">{{qualifiedName}}</a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>
